node_modules/
npm-debug.log
bower_components/
.DS_Store
build/
typings/
app/*.js
app/*.js.map
app/components/*js
app/components/*js.map
app/models/*js
app/models/*js.map
app/pipes/*js
app/pipes/*js.map
