#addFlavor {
  height: 30px;
  border: 1px solid $cream;
  // border-radius: 5px;
  width: 70px;
  @include textFormat(15px, lighter, $cream, 1px);
  text-transform: uppercase;
  background:transparent;
  transition: all 300ms ease-in-out;
  &:hover {
    cursor: pointer;
    background: $cream;
    border: 1px solid transparent;
    color: $primaryBlue;
    transition: all 300ms ease-in-out;
  }
}
