<div class="contentwrapper">
  <div class="homepageLeft">
    <div class="logo">
    </div>
    <div class="logoText">
      <h1>PDX ROASTED</h1>
      <h3 class="tagline">You choose your flavors.<br>We'll choose your roast. </h3>
    </div>
    <div class="search">
      <form (ngSubmit)="addToPalette()">
        <select [(ngModel)]="flavor">
          <option *ngFor="#flavor of flavors" [value]="flavor.name">
            {{flavor.name}}
          </option>
        </select>
        <button type="submit">Add</button>
      </form>
      <h3>My flavor palette</h3>
      <div *ngIf="palette.length == 0">
        <h4>No flavors - try adding some!</h4>
      </div>
      <div *ngIf="palette.length > 0">
        <ul>
          <li *ngFor="#pal of palette">
            {{pal}}
            <button (click)="removeFromPalette(pal)">X</button>
          </li>
        </ul>
        <button (click)="getRoasts()">Get Roasts</button>
      </div>
    </div>
  </div>
  <search-result-list [roasts]="roasts"></search-result-list>
</div>
