<div class="contentwrapper">
  <div class="homepageLeft">
    <div class="logo">
    </div>
    <div class="logoText">
      <h1>PDX ROASTED</h1>
      <h3 class="tagline">You choose your flavors.<br>We'll choose your roast. </h3>
    </div>
    <div class="search">
      <form (ngSubmit)="addToPalette()">
        <select [(ngModel)]="flavor">
          <option *ngFor="#flavor of flavors" [value]="flavor.name">
            {{flavor.name}}
          </option>
        </select>
        <button type="submit">Add</button>
      </form>
      <button (click)="getRoasts()">Get Roasts</button>
    </div>
  </div>
  <search-result-list [roasts]="roasts"></search-result-list>
</div>
